body {
  display: flex;
  margin: 2rem;
  flex-direction: column;
  justify-content: space-between;
}

.card-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 1rem;
}

.card {
  padding: 1rem;
  max-width: 12rem;
}

.btn {
  background-color: #f9f7f2;
  border: 0.6px solid;
  border-radius: 5px;
}

.btn:hover {
  cursor: pointer;
}

.footer {
  margin-top: 2rem;
  text-align: center;
}
